<h2>Create A New Survey</h2>
<hr>

<form action="/surveys/new" method="POST" class="create_survey">

  <label for="title">Title:<br>
  <input type="text" name="title" placeholder="Survey Title">
  </label>

  <label for="description">Description:
  <input type="text" name="description" placeholder="Survey Description">
  </label>


  <!-- Making Questions -->
  <!-- surveys/:id/questions/new -->
  <div id="question_inputs">
    <div id="questions"></div>
    <br><a id="addQuestionBtn" href="#"> Add Question</a></div>
    <input type="submit" value="Create Survey Form">
  </div>
</form>

