<div id="content" class="main container-mid">

  <div id="create_comment">
    <form action="posts/<%= @post.id %>/comments" method="post">
      <input type="hidden" name="post_id" value="<%= @post.id %>"><br>
      <input type="hidden" name="user_id" value="<%= @logged_in_user.id %>"><br>
      <textarea rows="5" cols="10" name="note" placeholder="Create your Comment!" maxlength="140" required></textarea><br>
      <input type="submit" class="bttn-green" value="Comment">
      <div class="clearfix"></div>
    </form>
  </div>


</div>

<br>

<div id="content" class="main container-mid">

  <div id="create_post">
    <form action="/posts/new" method="post">

      <input type="hidden" name="user_id" value="<%= @logged_in_user.id %>"><br>
      <input type="string" name="title" placeholder="Title"><br>
      <textarea rows="5" cols="10" name="message" placeholder="Create your Post!" maxlength="140" required></textarea><br>
      <input class="bttn-green" type="submit" value="Post">
      <div class="clearfix"></div>
    </form>
  </div>
</div>