
<h2>Create A New Survey</h2>
<hr>

<!-- Making Questions -->

<div id="question_inputs">
  <form action="#" method="post">
    <input type="text" name="question[0]" placeholder="Question">
    <a id="questionbtn" href="#"> Add Question</a>
    <input type="submit" value="Submit">
  </form>
 </div>
