<div>

  <div>
    <form action="" method="post">
      <input type="text" name="survey_title" placeholder="Survey Title">
      <textarea rows="5" cols="10" name="survey_description" placeholder="Description"></textarea>

      <div id="question_inputs">
        <input type="text" name="question[0]" placeholder="Question">
      </div>
      <input type="submit" value="Submit">
    </form>
       <a href="#" id ="add_question"> Add Question</a>
  </div>


</div>

