
<h2>Create A New Survey</h2>
<hr>

<div>
  <form action="/survey/create" method="POST" class="create_survey">
    <label for="title">Title:<br>
      <input type="text" name="title" placeholder="Survey Title">
    </label>
    <label for="description">Description:
      <input type="text" name="description" placeholder="Survey Description">
    </label>
      <input type="submit" value="Begin Survey Creation">
  </form>
</div>

<!-- Making Questions -->

<div id="question_inputs">
  <form action="#" method="post">
    <input type="text" name="question[0]" placeholder="Question">
    <a id="questionbtn" href="#"> Add Question</a>
    <input type="submit" value="Submit">
  </form>
 </div>
