<h2>Create A New Survey</h2>
<hr>

<form action="/survey/new" method="POST" class="create_survey">
  <label for="title">Title:<br>
  <input type="text" name="title" placeholder="Survey Title">
  </label>
  <label for="description">Description:
  <input type="text" name="description" placeholder="Survey Description">
  </label>
  <input type="submit" value="Begin Survey Creation">
</form>
</div>