body {
  /*margin-top: -17px;*/
  padding-top:0px;
  max-width: 960px;
  height: auto;
  background-image: url('http://i.imgur.com/DPpV5Qu.png');
  /*background-image: url('http://i.imgur.com/T4bGNDL.jpg');*/
  background-attachment:fixed;
  background-position:center;
  background-size: 100%;
  /*background-repeat:fixed;*/
  background-color: #e5ded5;
  font-family: Verdana;
  font-size:13px;
  color:#292f33;
  margin: -10px auto 0 auto;
  /*line-height: 18px;*/
}

a {
  color: #8af6fe;
  letter-spacing: 0.5px;
  font-size:1em;
  font-family:Helvetica;
  text-decoration: none;
}

a:visited {
  color: #80dced;
}

.container {
  margin: 7% auto;
  min-height: 0px;
  padding: 16px 23px 15px;
  position:relative;
  width: 100%;
  background-color:transparent;
}

/* MAIN PAGE*/
#content {
  background-color: white; /* #e3c496 */
  padding: 10px 20px 20px 20px;
  border: 0px solid transparent;
  position: relative;
  margin: 20px auto;
}

.main {
  width: 80%;
}

.container-mid {
  background-color: white;
  margin: 20px auto;
  width: 90%;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.container-sml {
  margin: 20px auto;
  width: 95%;
  padding: 0px 10px 20px 10px;
  border-radius: 10px;
}

.panel {
  border: 1px dotted black;
}

.post {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.time {
  font-size: 9px;
  color:grey;
  line-height:10px;
}


/*  HEADER   */
#header {
  border-bottom: 1px solid grey;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #38332d;
  color: #fff;
  height: 60px;
  padding-right: 15px;
}

h1 #app_name {
  float: left;
  color: black;
}

.top_bar_title {
  padding-left:50px;
  font-size:2.0em;
  font-family:Verdana;
}

nav ul {
  position: relative;
  bottom: 60px;
  float: right;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  list-style: none;
}

.clearfix {
  clear: both;
}

.user_name {
  font-size: 1.5em;
  font-weight: bold;
}

/* FOOTER */
#footer {
  border-bottom: 1px solid grey;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #38332d;
  color: #fff;
  height: 60px;
  padding-right: 15px;
}

.app_desc {
  font-size: 1.3em;
  font-weight: italic;
}


.bottom_bar_footer {
  padding: 20px 20px 0px 0px;
  font-family: Verdana;
}

.results {
  list-style: none;
}

#myChart {
  border: 1px solid gray;
  margin: 3px;
}

/* END OF OUR CSS */




/* BEGINNING OF CSS RESOURCES */
















/*.side {*/
  /*padding: 15px;*/
/*  float: left;*/
  /*margin: 20px auto;*/
/*  width: 33%;*/
/*}*/


/*.bubble {
  background-color: white;
  padding: 10px 20px 20px 20px;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
}*/


/*.side .bubble {
  width: 90%;
}

textarea {
  border-radius: 10px;
}


.container-sml {
  margin: 20px auto;
  width: 95%;
  padding: 0px 10px 20px 10px;
  border: 1px dotted black;
  border-radius: 10px;
}


.float_left {
  float: left;
}

/*  NAVIGATION   */

#search_bar {
  display: inline;
}

#search_form {
  float: right;
  display: inline;
  width: 10%;
}

#search_bar input#input {
  float: left;
  display: inline;
  width: 45%;
}

#search_bar label {
  float: left;
  display: inline;
}


#create_comment, #create_post {
  margin: 0 auto;
}




/*-- FORM STUFF --*/
input, textarea, select {
  width: 90%;
  padding: 5px;
  margin: 5px 5px;
}

.submit {
  width: 50%;
  float:left;
}

.bttn-purple {
  width: 100px;
  font-size: 12px;
  background-color: #494573;
  float: right;
  color: white;
}

.bttn-blue {
  font-family:Verdana;
  text-transform: uppercase;
  width: 100px;
  font-size: 12px;
  background-color: #58a4d3;
  /*float: right;*/
  color: white;
}

.bttn-green {
  width: 100px;
  font-size: 12px;
  background-color: #87c540;
  float: right;
}

*/
/*.random_button {
  color: #000;
  background-color:blue;
}*/

/*
.random_button {
  width: 100px;
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


#left {
  float: left;
  margin-left: 60px;
  /*margin-left: 50px;*/
  /*display: inline;*/
  /*position: fixed;*/
}

#right {
  position: relative;
  float: left;
  /*display:block;*/
  margin-left: 25px;
  /*display: inline;*/

  /*float: right;*/
}

.profile_box {
  float: left;
}


#profile_image {
  float: left;
  border-radius: 10px;
  margin-right: 5px;
  margin-top: 5px;
}*/