<div id="content" class="main">
  <div id="container-mid">
    <h2>Log in</h2>
    <hr>

    <%= erb :_error_messages, :layout => false, :locals => {:errors => @errors} %>

    <form action="/sessions/new" method="post" id="login">

      <input type="email" name="email" placeholder="example@email.com" required><br>
      <input type="password" name="password" placeholder="6 or more characters">

      <input type="submit" id="bttn" class="blue" value="Login">
      
      <div class="clearfix"></div>
    </form>
  </div>
</div>