<div id="content" class="main">
  <div id="container-mid">
    <h2>Become a member</h2>
    <hr>

    <%= erb :_error_messages %>

    <form action="/register" method="post" id="register">

      <input type="text" name="name" placeholder="Full name" required><br>
      <input type="text" name="company" placeholder="Company Name"><br>
      <input type="email" name="email" placeholder="example@email.com" required><br>
      <input type="password" name="password" placeholder="6 or more characters"><br>
      
      <input type="submit" class="submit bttn-blue" value="Sign Up">

      <div class="clearfix"></div>
    </form>
  </div>
</div>