<div id="content" class="main">
  <div id="container-mid">
    <h2>Update your Account</h2>
    <hr>

    <%= @user.name %>'s Current Account Info:

    <%= erb :'user/_user_info', :layout => false, :locals => {:user => @user}  %>

    <%= erb :_error_messages %>

    <form action="/users/<%= @user.id %>/update_account" method="post" id="update">

      <input type="hidden" name="_method" value="put" />

      <input type="text" name="name" placeholder="Update your name"><br>
      <input type="text" name="company" placeholder="Company affiliation"><br>
      <br><hr><br>
      <input type="email" name="email" placeholder="Your email" required><br>
      <input type="password" name="password" placeholder="Your password" required><br>

      <input type="submit" id="bttn" class="blue" value="Save Changes">

      <div class="clearfix"></div>
    </form>
  </div>
</div>