<% @logged_in_user = current_user %> 

<% if @logged_in_user.id != @survey.user_id %>
  <span><a href="/survey/<%= @survey.id %>/edit"><button type="button">Edit</button></a></span>
<% else %>
  <span><a href="/surveys/<%= @survey.id %>/delete"><button type="button">Delete</button></a></span>
<% end %>


        