<div id="footer">
  <h1 id="app_name" class="top_bar_title">A phase 2 DBC jQuery/Javascript application.</h1>

  <nav class="main_nav">
    <ul>
      <li><a href="/">Devbootcamp</a></li>
      <li><a href="/">Github</a></li>
      <li><a href="/">Contributors</a></li>
    </ul>
  </nav>
</div>
<div class="clearfix"></div>