<div id="footer">
  <h4 id="footer_app_name" class="bottom_bar_footer">A JS/jQuery application from Phase 2 in DBC.</h4>

  <nav class="bottom_nav">
    <ul>
      <li><a href="http://devbootcamp.com/">Dev Bootcamp</a></li>
      <li><a href="https://github.com/fiery-skippers-2014/QuizzerFly">Github</a></li>
      <li><a href="https://trello.com/b/HlbkbYtl/quizzerfly">Trello</a></li>
    </ul>
  </nav>
</div>
<div class="clearfix"></div>