<div id="footer">
  <h4 id="app_name" class="bottom_bar_footer">A jQuery/Javascript application from phase 2 in DBC.</h4>

  <nav class="main_nav">
    <ul>
      <li><a href="http://devbootcamp.com/">Devbootcamp</a></li>
      <li><a href="https://github.com/fiery-skippers-2014/QuizzerFly">Github</a></li>
      <li><a href="https://trello.com/b/HlbkbYtl/quizzerfly">Trello</a></li>
    </ul>
  </nav>
</div>
<div class="clearfix"></div>