<div id="content" class="main container-mid">

<h3>Why don't you try a survey?</h3>

<!-- SHOWING ALL SURVEYS -->
<%= erb :'survey/_show_all', :layout => false, :locals => {:surveys => @surveys} %>

</div>